.div34{
    margin-left: 40px;
}
h4,h3{
    color: red;
   
}
.input{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
input{
background-color: rgb(244, 250, 254);
padding: 30px 20px;
border: none;
width: 100%;
margin: 10px;

}
button{
    background-color: red;
    color: white;
    border: none;
    border-radius: 20px;
    padding:10px;
    margin-left: 50%;
    
}
footer{
    padding: 30px 10px;
 text-align: center;
    background-color: rgb(49, 69, 132);
    color: white;
    margin: 10px;
}
.div4{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 3px;
    padding: 30px 10px;
}
.div31{
    display: flex;
 justify-content: center;
 align-items: center;
    gap: 6vw;
    padding: 30px 10px;
}
@media (max-width: 425px) {
    .div34{
        flex-direction: column;
        text-align: center;
    }
    input{
        width: 300px;
    }
    .input{
        flex-direction: column;
     
    }
    button{
        margin-left: auto;
    }
    .div4{
        flex-direction: column; 
        text-align: center;
    }
    
}